{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}

<div class="auth-page">

    <div class="auth-card">

        <div class="auth-header">

            <div class="auth-icon">🔐</div>

            <h1>Welcome Back</h1>

            <p>Login to your AI ServiceHub account.</p>

        </div>


        <form method="POST">

            <label>Email</label>

            <input type="email"
                   name="email"
                   placeholder="Enter your email"
                   required>


            <label>Password</label>

            <input type="password"
                   name="password"
                   placeholder="Enter your password"
                   required>


            <button type="submit" class="btn btn-primary full">
                Login
            </button>

        </form>


        <p class="auth-footer">
            Don't have an account?
            <a href="{{ url_for('register') }}">Create Account</a>
        </p>

    </div>

</div>

{% endblock %}